body{
    background-image: url(https://th.bing.com/th/id/OIP.iI1cpWgWKaTRbXJUL9loiwHaEK?rs=1&pid=ImgDetMain);
    justify-content: space-around;
    padding-top: 14%;
    padding-left: 40%;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 53px;
}

input{
    width: 234px;
    height: 20px;
    margin-left: 60px;
}

button{
    color: white;
    margin-left: 120px;
    margin-top: 12px;
    background-color: purple;
    width: 120px;
    height: 30px;
}